---
import "@/styles/global.css";
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <slot name="head" />
  </head>
  <body class=" min-h-screen">
    <noscript><b>Enable JavaScript to run this website.</b></noscript>
    <slot />
  </body>  
</html>